/application/.phpunit.cache
/application/node_modules
/application/public/build
/application/public/assets
/application/public/hot
/application/public/storage
/application/storage/*.key
/application/storage/pail
/application/vendor
/application/.env
/application/.env.backup
/application/.env.example
/application/.env.production
/application/.phpactor.json
/application/.phpunit.result.cache
/application/Homestead.json
/application/Homestead.yaml
/application/auth.json
/application/npm-debug.log
/application/yarn-error.log
/application/.fleet
/application/.idea
/application/.vscode
/application/.zed
db-data
logs
